<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yigwoo.simple.persistence.AccountRoleMapper">
    <insert id="insertAccountRole" parameterType="AccountRole">
        INSERT INTO ACCOUNT_ROLE
        (ACCOUNT_ID, ROLE_ID)
        VALUES
        (#{accountId}, #{roleId})
    </insert>
    <delete id="deleteAccountRoleByAccountId" parameterType="int">
        DELETE FROM ACCOUNT_ROLE
        WHERE ACCOUNT_ID = #{accountId}
    </delete>
</mapper>