<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yigwoo.simple.persistence.RoleMapper">
	<cache />
	<select id="getRoleByRolename" parameterType="string"
		resultType="Role">
		SELECT ID, ROLENAME
		FROM ROLE
		WHERE ROLENAME=#{rolename}
	</select>
</mapper>