@CHARSET "UTF-8";

* {
	font-family: Arial, Verdana, sans-serif;
	color: #665544;
}

form {
	max-height: 300px;
	max-width: 400px;
	margin: auto;
	padding: 5px;
	text-align: right;
}

div#toreg, div#tolog {
	max-width: 400px;
	margin: auto;
	padding: 5px;
}

table {
	max-width: 390px;
	padding: 5px;
	text-align: left;
}

input {
	font-size: 120%;
	background-color: #f2f2f2;
	border: 1px solid #bdbdbd;
	border-radius: 5px;
	padding: 5px;
	width: 280px;
	margin-bottom: 10px;
}

input:focus, input:hover {
	border: 1px solid #b1e1e4;
	background-color: #ffffff;
}

input#submit {
	color: #ffffff;
	background-color: #665544;
	margin-right: 20px;
	border: none;
	border-radius: 5px;
	width: 80px;
}

input#submit:hover {
	color: #665544;
	background-color: #efefef;
	cursor: pointer;
}

a {
	color: #1386ff;
	text-decoration: none;
}

a:HOVER {
	text-decoration: underline;
}

