<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>yigwoo</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>dbUser</param-name>
    <param-value>yigwoo</param-value>
  </context-param>
  <context-param>
    <param-name>dbPassword</param-name>
    <param-value>2464258</param-value>
  </context-param>
  <context-param>
    <param-name>dbURL</param-name>
    <param-value>jdbc:mysql://localhost:3306/mydb</param-value>
  </context-param>
  
  <error-page>
    <error-code>404</error-code>
    <location>/error.jsp</location>
  </error-page>
  
  <filter>
    <filter-name>authenticationFilter</filter-name>
    <filter-class>com.yigwoo.servlet.filter.AuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>authenticationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <listener>
    <listener-class>com.yigwoo.servlet.listener.AppContextListener</listener-class>
  </listener>
</web-app>